@font-face {
  font-family: "Anja";
  src: url("/fonts/Anja\ Eliane\ accent002.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial\ Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial\ Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue\ Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Emoji";
  src: url("/fonts/EmojiOneColor.otf");
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham\ Book\ Font.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}
@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1400px];
  }
  .pink-slide .splide__pagination {
    @apply gap-3 -bottom-[5%];
  }
  .pink-slide .splide__pagination__page {
    @apply opacity-100 w-4 h-4 bg-white;
  }
  .pink-slide .splide__pagination__page.is-active {
    @apply bg-primaryPink scale-100;
  }
  #root {
    @apply min-h-screen flex justify-start items-center flex-col;
  }
}
.splide__arrow {
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
.splide__arrow svg {
  width: 25px;
  height: 25px;
}
.splide__arrow--next {
  right: 0;
  transform: translateX(120%) translateY(-50%);
}
.splide__arrow--prev {
  left: 0;
  transform: translateX(-120%) translateY(-50%);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0id2hpdGUiIGNsYXNzPSJ3LTYgaC02Ij4NCiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTkuNSA4LjI1bC03LjUgNy41LTcuNS03LjUiIC8+DQo8L3N2Zz4NCg==");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
  background-size: 30px;
}
@media screen and (max-width: 1220px) {
  .splide__arrow {
    width: 35px !important;
    height: 35px !important;
  }
  .splide__arrow svg {
    width: 18px;
    height: 18px;
  }
  .splide__arrow--next {
    right: 1em;
    transform: translateX(0%) translateY(-50%);
  }
  .splide__arrow--prev {
    left: 1em;
    transform: translateX(0%) translateY(-50%);
  }
}
